
.banner{
    @include mq(md){
        width: 70%;
        display: block;
        margin: auto;
    }
}

$red-ordine: #ce3535;

$link-color: $red-ordine !default;
$btn-primary-color: $red-ordine !default;